@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Cor de fundo clara */
 /* Centralizar conteúdo */
    text-align: center;
}

header {
    background: #005fa3; /* Azul escuro */
    color: #ffffff; /* Branco */
    padding: 1em 0;
    display: flex;


    justify-content: space-around;
    
}
::placeholder{
    text-align: center;
}
.cabecalho__titulo{
    justify-content: left;
    text-decoration: none;
    color: #ffffff;
}
.cabecalho__titulo:hover{
    color: #20a6ff;
}
#imagemDenuncia1, #imagemDenuncia2, #imagemDenuncia3, .btn__edicao, #btnCriar{
    border: 2px solid #005fa3;
    border-radius: 16px;
    padding: 1em;
    background-color: #005fa3;
    font-size: 16px;
    font-weight: 20px;
    margin-bottom: 1em;
    color: #ffffff;
}
.texto__imagem{
    color: red;
}
#tituloDenuncia, #descricaoDenuncia{
    border: 2px solid #005fa3;
    border-radius: 30px;
    padding: 0.5em;
    font-size: 16px;
    width: 300px;
}
#descricaoDenuncia{
    width: 500px;
}
.alerta__inputs, .titulo__corpo, #btnCriar{
    align-items: center;
    text-align: center;
}
#btnCriar:hover{
    cursor: pointer;
    background-color: #20a6ff;
}

    align-items: center;
    justify-content: space-between; /* Espaço entre os itens */
}


.alerta__inputs, #listaDenuncias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #005fa3; /* Adiciona borda */
    border-radius: 10px; /* Borda arredondada */
}

.slides {
    width: 400%;
    height: 100%; /* Mantém a altura definida no slider */
    display: flex;
    transition: margin-left 1s ease-in-out; /* Transição suavizada */
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;

    object-fit: cover;

}

.manual-navigation {
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    width: 10px;
    height: 10px;
    border: 1px solid #20a6ff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.manual-btn:hover {
    background-color: #20a6ff; /* Cor de fundo ao passar o mouse */
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.autoNavegacao {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.autoNavegacao div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 50%; /* Bordas mais arredondadas */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.autoNavegacao div:not(:last-child) {
    margin-right: 10px; /* Menor espaço entre os itens */
}

.autoNavegacao div:hover {
    transform: scale(1.1);
}
.texto__denuncia{
    margin-right: 80%;
    margin-left: 20%;
}


.btn__edicao{
    justify-content: center;
    margin: 0.5em;
}
.btn__edicao:hover{
    background-color: #20a6ff;
    cursor: pointer;
}

.rodape__texto{
    text-decoration: none;
    color: black;
}
.rodape__texto:hover{
    color: #20a6ff;

#radio1:checked ~ .autoNavegacao .auto-btn1,
#radio2:checked ~ .autoNavegacao .auto-btn2,
#radio3:checked ~ .autoNavegacao .auto-btn3,
#radio4:checked ~ .autoNavegacao .auto-btn4 {
    background-color: #20a6ff; /* Cor de fundo ativa */

}

footer {
    background: #005fa3;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 1em;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s; /* Suaviza a transição de cor */
}

footer ul li a:hover {
    color: #20a6ff; /* Cor de destaque ao passar o mouse */
}
